@media (min-width: 576px) {
    .container--lg {
        max-width: 95%;  
    }
}
@media (min-width: 1440px) {
    .container--lg {
        max-width: 90%;  
    }
}
@media (min-width: 992px) {
    .nav--container .navbar-expand-lg .navbar-collapse {
    display: none!important;
    flex-basis: auto;
}
}
@media (max-width: 991px) {
    .main--navbar .navbar-brand {
        margin-left: 12px;
    }
}